# exchange or grpc
FEEDER_APP_EXCHANGE_TYPE=exchange

# DB
FEEDER_DB_HOST_DOCKER=mysql
FEEDER_DB_HOST_LOCAL=127.0.0.1
FEEDER_DB_PORT=3306
FEEDER_DB_PORT_HOST=
FEEDER_DB_USER=
FEEDER_DB_PASSWORD=
FEEDER_DB_NAME=datafeeder
FEEDER_DB_TYPE=mysql

#grpc
FEEDER_GRPC_HOST_DOCKER=exchange_service
FEEDER_GRPC_HOST_LOCAL=0.0.0.0
FEEDER_GRPC_PORT=50051

#log 
FEEDER_LOG_PRODUCTION=false
FEEDER_LOG_DEBUG=false

#make 
GITHUB_TOKEN=

#Backfill
FEEDER_BACKFILL_ENABLED=true
FEEDER_BACKFILL_THRESHOLD=
FEEDER_BACKFILL_WORKERS=


