# exchange or grpc
APP_EXCHANGE_FLOW_TYPE=exchange

# DB
DB_HOST_DOCKER=mysql
DB_HOST_LOCAL=127.0.0.1
DB_PORT=3306
DB_PORT_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=datafeeder
DB_TYPE=mysql

#grpc
GRPC_HOST_DOCKER=exchange_service
GRPC_HOST_LOCAL=0.0.0.0
GRPC_PORT=50051

#log 
LOG_PRODUCTION=false
LOG_DEBUG=false

#make 
GITHUB_TOKEN=
