# DB
DB_HOST_DOCKER=mysql
DB_HOST_LOCAL=127.0.0.1
DB_PORT=
DB_PORT_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

#grpc
GRPC_HOST_DOCKER=exchange_service
GRPC_HOST_LOCAL=0.0.0.0
GRPC_PORT=50051

#log
PRODUCTION_LOG=false
DEBUG_LOG=false

#make 
GITHUB_TOKEN=
